extends layout
block styles
    link(rel="stylesheet", href="/lib/highlight.js/styles/github.css")

block main
    nav
        ol
            li
                a(href="/snippets") Сниппеты
            li= snippet.filename
    article
        header
            div
                h5= snippet.filename

                h6= `Язык: ${snippet.language}`

                small= snippet.updatedAt ? `Обновлено: ${moment(snippet.updatedAt).fromNow()}` : `Создано: ${moment(snippet.createdAt).fromNow()}`

            div
                a(href=`${snippet.id}/update`) Редактировать
                br
                a(href=`#` data-toggle="modal" data-target="#confirm-modal") Удалить

        section
            p= snippet.description
            pre
                code!= highlight(snippet.language, snippet.code).value