mixin snippet-item(snippet)
    div.wrapper
        a(href=`snippets/${snippet.id}`)
            div
                h6
                    =snippet.filename
                h7
                    =`Язык- ${snippet.language}`

                div
                    if snippet.updatedAt
                        =`Обновлено ${moment(snippet.updatedAt).fromNow()}`
                    else
                        =`Обновлено ${moment(snippet.createdAt).fromNow()}`

            p= snippet.description